# Global ignores
node_modules/
.env
package-lock.json

# Allow committed environment and lock files for client and server
!server/.env
!client/.env.local
!server/package-lock.json
!client/package-lock.json
